/* File Uploader Box */
.upFileBox {
	outline:2px dashed #92b0b3; outline-offset:-10px; color:#0f3c4b;
	font-family:"Roboto"; font-weight:400; font-size:20px; display:table;
	transition:outline-offset .15s ease-in-out, background .15s linear;
	background:#c8dadf; user-select:none; width:100%; height:100%;
}

.upDragOver { outline-offset:-20px; outline-color:#c8dadf; background:#fff; }

/* Centering */
.upFileBox .upContents {
	width:100%; text-align:center; vertical-align:middle; display:table-cell;
}

/* Box Content Style */
.upFileBox .icon {
	width:100%; height:80px; margin-bottom:40px; background:#92b0b3;
	mask:url(upload.svg) no-repeat center / contain;
}

.upFileBox input { display:none; }
.upFileBox label { cursor:pointer; }
.upFileBox b { font-weight:bold; }
.upContents > label:hover b,
.upContents > span:hover b { color:#39bfd3; }
.doneAnim {
	animation:doneAppear .25s ease-in-out;
	display:inline-block;
}

@keyframes doneAppear {
	0%   { transform:scale(0); }
	75%  { transform:scale(1.1); }
	100% { transform:scale(1); }
}

/*--- Dark Mode ---*/

html.dark .upFileBox { color:#e2e7e9; outline-color:#a7b8be; background:#303536; }
html.dark .upFileBox .icon { background:#a7b8be; }
html.dark .upDragOver { outline-color:#fff; background:#4a4e4f; }